obj/x64/
bin/x64/
dev/tinycompiler/.vs/
dev/flex/.vs/
dev/OpenSceneGraph/.vs/
dev/vstemplate/.vs/
lib/x64/
dev/winflexbison/.vs/
dev/Geometry/.vs/
dev/CGAL/.vs/
dev/Simulation/.vs/
dev/pthread/.vs/
dev/zlib/.vs/
dev/freetype/.vs/
dev/test/.vs/
dev/utils/.vs/
dev/png/.vs/
dev/OpenCollada/.vs/
dev/JPEG/.vs/
