obj/x64/
bin/x64/
dev/tinycompiler/.vs/
dev/flex/.vs/
dev/OpenSceneGraph/.vs/
dev/vstemplate/.vs/
lib/x64/
dev/winflexbison/.vs/
dev/Geometry/.vs/
dev/CGAL/.vs/
dev/Simulation/.vs/
dev/pthread/.vs/
dev/zlib/.vs/
dev/freetype/.vs/
dev/test/.vs/
dev/utils/.vs/
dev/png/.vs/
dev/OpenCollada/.vs/
dev/JPEG/.vs/
dev/TIFF/.vs/
dev/FFTW/.vs/
dev/QT/.vs/
dev/tinycbor/.vs/
dev/Prce2/.vs/
dev/harfbuzz/.vs/
dev/GOOGLE_BASE/.vs/
dev/trimesh/.vs/
dev/OpenSceneGraph/OpenSceneGraph.VC.db
dev/BOOST/.vs/
dev/ShaderBinarization/.vs/
dev/python/.vs/
dev/EsSlam/.vs/
